body { 
    background-color: 000000;
    margin: 0;
    padding: 0;
}

.background {
    position: relative;
}

.button {
    position: absolute;
    top: 50%;
    right: 50%;
}

.playpause {
    position: absolute;
    top: 60%;
    right: 53%;
}

.audio-container {
    position: absolute;
    top: 70%;
    right: 35%;
    width: 40%;
    background: #ddd;
}

.progress {
    width: 1px;
    height: 3px;
    background: #006B5A;
    transition: width .1s linear;
  }